li{
    color: green;
}

h1{
    color: purple;
    border: 2px dashed orange;
}

body{
    background-image: url('http://www.aex.ru/images/media/900/23259.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}